<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="#{app.name}"></title>
    <link rel="icon" type="image/png" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/custom_struts2_css_xhtml_theme.css"/>
</head>
    <body style="background-image: url('/images/light-blue-wave-background.jpg');">
        <div class="languageFlags">
            <a href="?lang=pt_BR"><img src="/images/brazil-flag.png" class="langflag"/></a>
            <a href="?lang=en_US"><img src="/images/usa-flag.png" class="langflag"/></a>
        </div>

        <div class="inputPanelOffLogin">

            <h1 class="h1Center" th:text="#{txt.login}"></h1>
            <form th:action="@{/login}" th:object="${loginForm}" method="post" class="wwFormTable">
                <div th:if="${param.error}">
                    <ul class="errorMessage">
                        <li th:text="#{validation.error.wrong.login}"></li>
                    </ul>
                </div>
                <div th:if="${param.pendingConfirmation}">
                    <ul class="errorMessage">
                        <li th:text="#{txt.pending.email.confirmation}"></li>
                    </ul>
                </div>
                <div th:if="${param.confirmationSuccess}">
                    <ul class="actionMessage">
                        <li th:text="#{success.account.confirmed}"></li>
                    </ul>
                </div>
                <div>
                    <label th:text="#{txt.email}"></label>
                    <input type="text" name="username" class="inputField"/>
                    <div th:if="${param.emailLoginError}" class="errorLabel" th:text="#{validation.required}"></div>
                </div>
                <div>
                    <label th:text="#{txt.password}"></label>
                    <input type="password" name="password" class="inputField"/>
                    <div th:if="${param.passwordLoginError}" class="errorLabel" th:text="#{validation.required}"></div>
                </div>
                <div class="customFormFooter">
                    <input type="submit" value="Submit" th:attr="value=#{txt.login}" class="button customFormButton"/>
                </div>
            </form>
            <div class="customExtraFooter">
                <div class="plainText" th:text="#{txt.question.dont.have.account}"></div>
                <br/>
                <a href="/register" class="button" th:text="#{txt.new.account}"/>
                
                <br/><br/><br/><br/>
                <a href="/passwordRecoverInput" class="undecLink tinyText" th:text="#{txt.question.forgot.password}"/>
            </div>
        </div>

    </body>
</html>