<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="#{app.name}"></title>
    <link rel="icon" type="image/png" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/custom_struts2_css_xhtml_theme.css"/>
</head>
    <body style="background-image: url('/images/light-blue-wave-background.jpg');">
        <div class="languageFlags">
            <a href="/requestLocale?lang=pt_BR"><img src="/images/brazil-flag.png" class="langflag"/></a>
            <a href="/requestLocale?lang=en"><img src="/images/usa-flag.png" class="langflag"/></a>
        </div>

        <div class="inputPanelOffLogin">
            
            <h1 class="h1Center" th:text="#{txt.register}"></h1>
            <div th:if="${successMessage}">
                <ul class="actionMessage">
                    <li th:text="${successMessage}"></li>
                </ul>
            </div>
            <form th:action="@{/register}" th:object="${registerForm}" method="post" class="wwFormTable">
                <ul th:if="${#fields.hasErrors('*')}" class="errorMessage">
                    <li th:each="error : ${#fields.errors('global')}" th:text="${error}">error</li>
                </ul>
                <div>
                    <label th:text="#{txt.birthday}"></label>
                    <input type="date" name="birthday" th:value="${registerForm.birthday}" class="inputField"/>
                    <div class="errorLabel" th:errors="*{birthday}"/>
                </div>
                <div>
                    <label th:text="#{txt.name}"></label>
                    <input type="text" th:field="*{userName}" class="inputField"/>
                    <div class="errorLabel" th:errors="*{userName}"/>
                </div>
                <div>
                    <label th:text="#{txt.email}"></label>
                    <input type="text" th:field="*{email}" class="inputField"/>
                    <div class="errorLabel" th:errors="*{email}"/>
                </div>
                <div>
                    <label th:text="#{txt.password}"></label>
                    <input type="password" th:field="*{password}" class="inputField"/>
                    <div class="errorLabel" th:errors="*{password}"/>
                </div>
                <div>
                    <label th:text="#{txt.password.confirmation}"></label>
                    <input type="password" th:field="*{passwordConfirmation}" class="inputField"/>
                    <div class="errorLabel" th:errors="*{passwordConfirmation}"/>
                </div>
                    
                <div class="customFormFooter"><input type="submit" value="Submit" th:attr="value=#{txt.register}" class="button customFormButton"/></div>
            </form>
            
        </div>

    </body>
</html>